# <font color='yellow'>CRIS_TECH_DATA</font>

## <font color='yellow'>Fundamentos de Linguagem Python Para Análise de Dados e Data Science</font>

## <font color='yellow'>Capítulo 4 - Exercícios</font>

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.8.8

## Exercícios

In [ ]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
numeros =  1,2,3,4,5,6,7,8,9,10
lista = []
for numero in numeros:
    lista.append(numero)
    print(numero)

1
2
3
4
5
6
7
8
9
10

In [1]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

objetos = ['carro','moto','casa','iphone','avião']
print (objetos)

['carro', 'moto', 'casa', 'iphone', 'avião']

In [4]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

par1 = 'Amo '
par2 = 'você'

print (par1 +  par2)

Amo você

In [6]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

tup = ( 1, 2, 2, 3, 4, 4, 4, 5)
cont= tup.count(4)
print(cont)

3

In [7]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
meu_dicionario = {}
print(meu_dicionario)

{}

In [11]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na
senha ={'Banco':258,'Netflix':'Amo@filmes123','ifood':1979}
print(senha)

{'Banco': 258, 'Netflix': 'Amo@filmes123', 'ifood': 1979}

In [12]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

senha ['Backup_senha'] = 8900
print(senha)

{'Banco': 258, 'Netflix': 'Amo@filmes123', 'ifood': 1979, 'Backup_senha': 8900}

In [15]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores.
# Um dos valores deve ser uma lista de 2 elementos numéricos.
# Imprima o dicionário na tela.

acesso = {
    'vendedor':'vendas',
    'gerente':'vendedor',
    'admin':['vendedor','gerente']
}
print(acesso)

{'vendedor': 'vendas', 'gerente': 'vendedor', 'admin': ['vendedor', 'gerente']}

In [16]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string,
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e
# o quarto elemento um valor do tipo float.
# Imprima a lista.

super_lista = ['novo começo',(1,'arroz'),{'nome':'Cristiano','segundo_nome':'machado'},4.5]

print(super_lista)

['novo começo', (1, 'arroz'), {'nome': 'Cristiano', 'segundo_nome': 'machado'}, 4.5]

In [27]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
frase[:19]

'Cientista de Dados '

# 1. **Listas**

Criei uma lista chamada filmes com o nome dos 10 primeiros filmes mais bem
avaliados no site no IMDB. Imprima o resultado.

In [1]:
Filmes = ['Um Sonho de Liberdade','O Poderoso Chefão','Batman: O Cavaleiro das Trevas','O Poderoso Chefão: Parte II','12 Homens e uma Sentença',' O Senhor dos Anéis: O Retorno do Rei',' A Lista de Schindler','Pulp Fiction: Tempo de Violência',' O Senhor dos Anéis: A Sociedade do Anel',' Três Homens em Conflito']
print(Filmes)

['Um Sonho de Liberdade', 'O Poderoso Chefão', 'Batman: O Cavaleiro das Trevas', 'O Poderoso Chefão: Parte II', '12 Homens e uma Sentença', ' O Senhor dos Anéis: O Retorno do Rei', ' A Lista de Schindler', 'Pulp Fiction: Tempo de Violência', ' O Senhor dos Anéis: A Sociedade do Anel', ' Três Homens em Conflito']

In [2]:
mudança_de_posição = Filmes.pop('Um Sonho de Liberdade')
Filmes.insert('O Poderoso Chefão',mudança_de_posição)
print(mudança_de_posição)

TypeError: 'str' object cannot be interpreted as an integer